<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.notification.repository.NotificationMapper">
    <!--    insertNotificationChallengeRankPointsToMentee-->
    <insert id="insertNotificationChallengeRankPointsToMentee" >

        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at,
            updated_at
        )
        VALUES
        (
            #{memberId},
            'CHALLENGE',
            '챌린지 랭킹 포인트 지급 알림',
            #{contents},
            NOW(),
            NOW()
        );

    </insert>



    <insert id="insertNotificationMentoringReservationToMentor" parameterType="MenteeReservationRequestDto">
        <!--    insertNotificationMentoringReservationToMentor-->
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at,
            updated_at
        )
        VALUES
        (
            #{mentorMemberId},
            'REGISTER',
            '멘토링 예약 알림',
            #{notificationContents},
            NOW(),
            NOW()
        );
    </insert>


    <select id="selectNotificationToMentor" resultType="NotificationToMentorSelectResponseDto">
        <!--  selectNotificationToMentor  -->
        SELECT
            n.notification_id AS notificationId,
            n.type AS type,
            n.title AS title,
            n.contents AS contents,
            n.created_at AS createdAt
        FROM
            notification n
        WHERE
            n.member_id = #{memberId}
        AND
            n.is_confirmed = false
        ORDER BY
            n.created_at DESC;
    </select>


    <select id="selectNotificationToMentee" resultType="NotificationToMenteeSelectResponseDto">
        <!--  selectNotificationToMentee  -->
        SELECT
            n.notification_id AS notificationId,
            n.type AS type,
            n.title AS title,
            n.contents AS contents,
            n.created_at AS createdAt
        FROM
            notification n
        WHERE
            n.member_id = #{memberId}
        AND
            n.is_confirmed = false
        ORDER BY
            n.created_at DESC;
    </select>

<!--    insertAcceptNotificationMentoringReservationToMentee-->
    <insert id="insertAcceptNotificationMentoringReservationToMentee">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at,
            updated_at
        )
        VALUES
        (
            #{memberId},
            'ACCEPT',
            '멘토링 예약 확정 알림',
            #{contents},
            NOW(),
            NOW()
        );
    </insert>

<!--    insertRejectNotificationMentoringReservationToMentee-->
    <insert id="insertRejectNotificationMentoringReservationToMentee">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at,
            updated_at
        )
        VALUES
        (
            #{memberId},
            'ACCEPT',
            '멘토링 예약 거절 알림',
            #{contents},
            NOW(),
            NOW()
        );
    </insert>

<!--    insertCancelNotificationMentoringReservationToMentor-->
    <insert id="insertCancelNotificationMentoringReservationToMentor">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at,
            updated_at
        )
        VALUES
        (
            #{memberId},
            'CANCEL',
            '멘토링 예약 취소 알림',
            #{contents},
            NOW(),
            NOW()
        );
    </insert>

    <update id="softDeleteNotification" >
<!--        softDeleteNotification-->
        UPDATE notification
        SET
            is_confirmed = true,
            updated_at = NOW()
        WHERE
            notification_id = #{notificationId}
    </update>

</mapper>